@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">متد</th>
                    <th scope="col">لینک</th>
                    <th class="text-wrap" scope="col">توضیح</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">SEND</th>
                    <td>
                        <a href="@Url.Action("Index","Home")">ارسال ساده</a>
                    </td>
                    <td class="text-wrap">ارسال پیامک استفاده می کنیم که امکان ارسال یک پیامک خاص به چندین گیرنده (Receptor) در این متد وجود دارد کافیست آنها را از طریق کاراکتر ویرگول « , » از هم جدا کنید.</td>
                </tr>
                <tr>
                    <th scope="row">SendArray</th>
                    <td>
                        <a href="@Url.Action("SendArray","Home")">ارسال گروهی</a>
                    </td>
                    <td class="text-wrap">چندین پیامک مختلف را از شماره های مختلف ارسال کنید</td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>
                        <a href="@Url.Action("Status","Home")">کنترل وضعیت</a>
                    </td>
                    <td class="text-wrap">از این تابع برای کنترل وضعیت رسید Delivery پیامک استفاده می‌شود. برای این منظور باید شناسه یکتای هر پیامک messageid را که در هنگام ارسال پیامک از خروجی دریافت کرده اید را ارسال نمائید.</td>
                </tr>
                <tr>
                    <th scope="row">Select</th>
                    <td>
                        <a href="@Url.Action("Select","Home")">انتخاب پیامک</a>
                    </td>
                    <td class="text-wrap">در صورتی که می‌خواهید اطلاعات پیامک ارسالی را بازیابی نمائید، می‌توانید با messageid و استفاده از این متد اطلاعات رکورد را دریافت کنید.</td>
                </tr>
                <tr>
                    <th scope="row">Receive</th>
                    <td>
                        <a href="@Url.Action("Receive","Home")">دریافت پیامک</a>
                    </td>
                    <td class="text-wrap">پیامک های دریافتی خط مورد نظر را واکشی کنید</td>
                </tr>
                <tr>
                    <th scope="row">CountInbox</th>
                    <td>
                        <a href="@Url.Action("CountInbox","Home")">تعداد پیامک های دریافت شده</a>
                    </td>
                    <td class="text-wrap">دریافت تعداد پیامک های دریافت شده به کلیه خطوط اختصاصی یا یک خط خاص در بازه زمانی .</td>
                </tr>
                <tr>
                    <th scope="row">Lookup</th>
                    <td>
                        <a href="@Url.Action("Lookup","Home")">اعتبار سنجی</a>
                    </td>
                    <td class="text-wrap">این متد بالاترین اولویت را دارند و هیچ کدام از پیامک های آن فیلتر نخواهند شد( ارسال پیامک به افرادی که پیامک تبلیغاتی خود را بسته اند) همچنین این متد قابلیت ارسال پیامک به ۱۴۸ کشور دنیا را دارد.</td>
                </tr>
                <tr>
                    <th scope="row">TTS</th>
                    <td>
                        <a href="@Url.Action("TTS","Home")">تماس صوتی</a>
                    </td>
                    <td class="text-wrap">از این متد برای ارسال تماس صوتی استفاده می کنیم، امکان ارسال یک تماس صوتی خاص به چندین گیرنده ( Receptor ) در این متد وجود دارد کافیست آنها را از طریق کاراکتر ویرگول « , » از هم جدا کنید .</td>
                </tr>
                <tr>
                    <th scope="row">Info</th>
                    <td>
                        <a href="@Url.Action("Info","Home")">دریافت اطلاعات حساب کاربری</a>
                    </td>
                    <td class="text-wrap">این متد برای دریافت اطلاعات حساب خود و یا مشتریان ایجاد شده توسط شما استفاده می‌شود. دریافت اعتبار باقی مانده و تاریخ یکی از مهم ترین فیلدهای خروجی این متد است.</td>
                </tr>
            </tbody>
        </table>
        <h2>خطاها</h2>
        <p>خطاهای احتمالی دریافتی</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">کد خطا</th>
                    <th scope="col">متن</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">401</th>
                    <td>حساب کاربری غیر فعال است</td>
                </tr>
                <tr>
                    <th scope="row">403</th>
                    <td>حساب کاربری معتبر نمی‌باشد. این خطا در صورتی که کد شناسائی API-Key اشتباه ارسال شود رخ می‌دهد</td>
                </tr>
                <tr>
                    <th scope="row">400</th>
                    <td>پارامترها ناقص هستند</td>
                </tr>
                <tr>
                    <th scope="row">402</th>
                    <td>عملیات ناموفق بود</td>
                </tr>
                <tr>
                    <th scope="row">404</th>
                    <td>متدی با این نام پیدا نشده است</td>
                </tr>
                <tr>
                    <th scope="row">405</th>
                    <td>متد فراخوانی Get یا Post اشتباه است</td>
                </tr>
                <tr>
                    <th scope="row">409</th>
                    <td>سرور قادر به پاسخگوئی نیست بعدا تلاش کنید</td>
                </tr>
                <tr>
                    <th scope="row">طول پیامک</th>
                    <td>معادل 70 کاراکتر برای یک پیامک فارسی و 140 کاراکتر برای یک پیامک لاتین</td>
                </tr>
                <tr>
                    <th scope="row">ﺣﺪاﻛﺜﺮ ﻃﻮل پیامک</th>
                    <td>حداکثر طول کل متن پیامک 900 کاراکتر می باشد.</td>
                </tr>
                <tr>
                    <th scope="row">413</th>
                    <td>متن پیام خالی است و یا طول آن بیشتر از حد مجاز می‌باشد</td>
                </tr>
                <tr>
                    <th scope="row">414</th>
                    <td>حجم درخواست بیشتر از حد مجاز است.در ارسال پیامک هر فراخوانی 200 رکورد و کنترل وضعیت هر فراخوانی 500 رکورد</td>
                </tr>
                <tr>
                    <th scope="row">411</th>
                    <td>شماره گیرنده پیام معتبر نمی باشد</td>
                </tr>
                <tr>
                    <th scope="row">412</th>
                    <td>شماره فرستنده معتبر نمی‌باشد</td>
                </tr>
                <tr>
                    <th scope="row">417</th>
                    <td>تاریخ ارسال اشتباه است یا تاریخ آن گذشته و یا به فرمت درست ارسال نشده است</td>
                </tr>
                <tr>
                    <th scope="row">418</th>
                    <td>اعتبار حساب شما کافی نیست</td>
                </tr>
                <tr>
                    <th scope="row">419</th>
                    <td>تعداد اعضای آرایه متن و گیرنده و ارسال کننده هم اندازه نیست .</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>